

.game-menu{
	width: 100%;
	position: absolute;
	top: 80px;

}
#quetion{
	background: black;

	font-weight: bold;
	font-size: 1.5em;

	color: darkcyan;
	padding: 10px;
	border-bottom: 2px solid darkcyan;
	border-radius: 5px; 
	margin-bottom: 20px;
	padding-left: 2%;
}
.menu-item{
	border-radius: 5px; 
	background-color: rgba(0, 0, 0, 0.7);
	margin: 3px;
	font-size: 1.3em;
	color: white;
	padding: 5px;
}

.menu-item:hover {
	background-color: rgba(0, 200, 200, 0.3);
	color: white;
	cursor: pointer;
}