

%bg-gradient {
	background: -webkit-linear-gradient(90deg, rgb(0, 77, 167), rgb(0, 0, 80) 100%);
	background: -moz-linear-gradient(90deg, rgb(0, 77, 167), rgb(0, 0, 80) 100%);
	background: linear-gradient(90deg, rgb(0, 77, 167), rgb(0, 0, 80) 100%);	
	color: white;

}

#screens{

}
#pixi{
	border-radius: 5px; 
}
.screen{
	border-radius: 5px; 
	position: absolute;
	width: 100%;
  height: 100%;
	border: 2px solid white;
}

.screen__game-menu {
	background-color: rgba(0,0,0,0.5);
};


.screen__settings {
	padding: 10px;
	@extend %bg-gradient;

}
.settings__range{
	display: inline-block;
	margin: 10px;
}
.typespeed__range{
	display: block;
}
.screen__about {
	padding: 10px;
	@extend %bg-gradient;

}

.screen__memory-card {
	padding: 10px;
	@extend %bg-gradient;

}

.screen__preload{
	background-color: black;
	color: white;

}
.preloader{
   width: 150px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
	font-size: 1.5em;
	font-weight: bold;
}


.btn-return{
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 10px;
	padding: 5px;
	font-size: 1.3em;
	font-weight: bold;
	color: grey;
}	